---
import { NOTION_POSTS_DB } from "astro:env/server";
import PostPreview from "../../components/postPreview.astro";
import MainLayout from "../../layouts/mainLayout.astro";
import { getPages } from "../../utils/DB";

// get all blog posts - for build
const allPosts = await getPages({ databaseID: NOTION_POSTS_DB }).then((data) =>
  data.results
    .map((page) => {
      if ("properties" in page) {
        // notion does not provides type safe interfaces
        const properties = page.properties as any;
        return {
          title: properties.Title.title[0].plain_text as string,
          slug: properties.Slug.rich_text[0].plain_text as string,
          image: properties.BannerImage.files[0].file.url,
          description: properties.Description.rich_text[0].plain_text as string,
        };
      }
    })
    .reverse()
);
---

<MainLayout title="Blog">
  <h1>My Astro Notion Landing Page!</h1>
  <h2>
    This website is a tamplate to check astro performences and banchmarks when
    using notion as a backend for writes and red, in addition it will be tested
    in ssr and ssg node
  </h2>
  <section>
    <h2>All posts page</h2>
    <h3>
      all the posts are fetched from notion and only key properties about the
      posts are shown here
    </h3>
    <ul
      class="gap-x-4 gap-y-4 m-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 max-w-full w-full"
    >
      {
        allPosts.map((post) => (
          <PostPreview transition:name={`post-${post?.slug}`} {...post} />
        ))
      }
    </ul>
  </section>
</MainLayout>
