---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>My Astro Notion Landing Page!</h1>
    <h2>
      This website is a tamplate to check astro performences and banchmarks when
      using notion as a backend for writes and red, in addition it will be
      tested in ssr and ssg node
    </h2>
    <section>
      <h2>Contact us form (using astro actions):</h2>
      <form class="card">
        <div class="input-container">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="input-container">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="input-container">
          <label for="message">Message:</label>
          <textarea id="message" name="message" required></textarea>
        </div>
        <button class="submit-btn" type="submit">Send</button>
      </form>
    </section>
  </body>
</html>

<!-- https://docs.astro.build/en/reference/directives-reference/#script--style-directives -->
<style>
  input,
  textarea {
    @apply border-slate-700 focus:border-slate-800 dark:border-slate-300 dark:focus:border-slate-500 border-[2px] border-solid px-3 py-2 rounded-xl m-0;
  }
  label {
    @apply text-slate-800 dark:text-slate-300;
  }
  .card {
    @apply flex flex-col items-center gap-4 border-2 border-solid border-gray-500 rounded-2xl p-4 shadow-xl shadow-sky-400/20 dark:shadow-sky-800/20 bg-slate-200 dark:bg-slate-700;
  }
  .input-container {
    @apply flex flex-col gap-1 justify-center w-full;
  }
  .submit-btn {
    @apply bg-sky-500 dark:bg-sky-700 text-white dark:text-white rounded-xl p-2 w-1/6 shadow-xl shadow-sky-400/20 dark:shadow-sky-800/20;
  }
</style>

<style is:global>
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  section {
    @apply my-4 flex flex-col gap-4 justify-start align-middle w-full;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    @apply min-h-full p-4 text-slate-900 dark:text-slate-100 bg-slate-50 dark:bg-slate-900;
  }
  ::-webkit-scrollbar {
    @apply w-3;
  }

  ::-webkit-scrollbar-track {
    @apply bg-purple-700 dark:bg-purple-500 bg-opacity-20;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-purple-500 dark:bg-purple-700 bg-opacity-20 dark:bg-opacity-100 shadow-2xl rounded-full;
  }

  /** Shiki theme - Light/Dark mode **/
  :root {
    --astro-code-color-text: #24292f;
    --astro-code-color-background: #ffffff;
    --astro-code-token-constant: #0550ae;
    --astro-code-token-string: #24292f;
    --astro-code-token-comment: #6e7781;
    --astro-code-token-keyword: #cf222e;
    --astro-code-token-parameter: #24292f;
    --astro-code-token-function: #8250df;
    --astro-code-token-string-expression: #0a3069;
    --astro-code-token-punctuation: #24292f;
    --astro-code-token-link: #000012;
  }

  html.dark {
    --astro-code-color-text: #c9d1d9;
    --astro-code-color-background: #0d1117;
    --astro-code-token-constant: #79c0ff;
    --astro-code-token-string: #a5d6ff;
    --astro-code-token-comment: #8b949e;
    --astro-code-token-keyword: #ff7b72;
    --astro-code-token-parameter: #c9d1d9;
    --astro-code-token-function: #d2a8ff;
    --astro-code-token-string-expression: #a5d6ff;
    --astro-code-token-punctuation: #c9d1d9;
    --astro-code-token-link: #000012;
  }
</style>
