---
import { ContactUsForm } from "../features/contactUsForm";
import MainLayout from "../layouts/mainLayout.astro";
// The contact form is not importaint for SEO, so we can let it render on the client
export const prerender = false;
---

<MainLayout title="Home">
  <h1>My Astro Notion Landing Page!</h1>
  <h2>
    This website is a tamplate to check astro performences and banchmarks when
    using notion as a backend for writes and red, in addition it will be tested
    in ssr and ssg node
  </h2>
  <section>
    <h2>Contact us form (using astro actions):</h2>
    <ContactUsForm client:load />
  </section>
</MainLayout>
