---
import { ViewTransitions } from "astro:transitions";
import { NavBar } from "../features/navBar";
const { Title } = Astro.props;
// ssr the navbar, to allow maximum SEO
export const prerender = false;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{Title}</title>
  </head>
  <body>
    <NavBar client:load />
    <main>
      <slot transition:animate="slide" />
    </main>
  </body>
</html>

<style is:global>
  .card {
    @apply flex flex-col items-center gap-4 border-2 border-solid border-gray-500 rounded-2xl p-4 shadow-xl shadow-sky-400/20 dark:shadow-sky-800/20 bg-slate-200 dark:bg-slate-700;
  }
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  section {
    @apply my-4 flex flex-col gap-4 justify-start align-middle w-full;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    @apply min-h-full text-slate-900 dark:text-slate-100 bg-slate-50 dark:bg-slate-900;
  }
  main {
    @apply p-4;
  }
  ::-webkit-scrollbar {
    @apply w-3;
  }

  ::-webkit-scrollbar-track {
    @apply bg-blue-700 dark:bg-blue-500 bg-opacity-20;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-blue-500 dark:bg-blue-700 bg-opacity-20 dark:bg-opacity-100 shadow-2xl rounded-full;
  }

  /** Shiki theme - Light/Dark mode **/
  :root {
    --astro-code-color-text: #24292f;
    --astro-code-color-background: #ffffff;
    --astro-code-token-constant: #0550ae;
    --astro-code-token-string: #24292f;
    --astro-code-token-comment: #6e7781;
    --astro-code-token-keyword: #cf222e;
    --astro-code-token-parameter: #24292f;
    --astro-code-token-function: #8250df;
    --astro-code-token-string-expression: #0a3069;
    --astro-code-token-punctuation: #24292f;
    --astro-code-token-link: #000012;
  }

  html.dark {
    --astro-code-color-text: #c9d1d9;
    --astro-code-color-background: #0d1117;
    --astro-code-token-constant: #79c0ff;
    --astro-code-token-string: #a5d6ff;
    --astro-code-token-comment: #8b949e;
    --astro-code-token-keyword: #ff7b72;
    --astro-code-token-parameter: #c9d1d9;
    --astro-code-token-function: #d2a8ff;
    --astro-code-token-string-expression: #a5d6ff;
    --astro-code-token-punctuation: #c9d1d9;
    --astro-code-token-link: #000012;
  }
</style>
